In [105]:
import pandas as pd
import seaborn as sns
import statistics as stat

df_original = pd.read_csv("https://raw.githubusercontent.com/alvarofavale/week7_ml/refs/heads/main/data/raw/train.csv")

In [106]:
df = df_original.copy()
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
df.describe()

,id,customer_id,month,age,ssn,annual_income,monthly_inhand_salary,num_bank_accounts,num_credit_card,interest_rate,...,delay_from_due_date,num_of_delayed_payment,changed_credit_limit,num_credit_inquiries,outstanding_debt,credit_utilization_ratio,credit_history_age,total_emi_per_month,amount_invested_monthly,monthly_balance
count,100000.000000,100000.000000,100000.000000,100000.000000,1.000000e+05,100000.000000,100000.000000,100000.000000,100000.000000,100000.00000,...,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,80631.500000,25982.666640,4.500000,33.316340,5.004617e+08,50505.123449,4197.270835,5.368820,5.533570,14.53208,...,21.08141,13.313120,10.470323,5.798250,1426.220376,32.285173,221.220460,107.699208,55.101315,392.697586
std,43301.486619,14340.543051,2.291299,10.764812,2.908267e+08,38299.422093,3186.432497,2.593314,2.067098,8.74133,...,14.80456,6.237166,6.609481,3.867826,1155.129026,5.116875,99.680716,132.267056,39.006932,201.652719
min,5634.000000,1006.000000,1.000000,14.000000,8.134900e+04,7005.930000,303.645417,0.000000,0.000000,1.00000,...,0.00000,0.000000,0.500000,0.000000,0.230000,20.000000,1.000000,0.000000,0.000000,0.007760
25%,43132.750000,13664.500000,2.750000,24.000000,2.451686e+08,19342.972500,1626.594167,3.000000,4.000000,7.00000,...,10.00000,9.000000,5.380000,3.000000,566.072500,28.052567,144.000000,29.268886,27.959111,267.615983
50%,80631.500000,25777.000000,4.500000,33.000000,5.006886e+08,36999.705000,3095.905000,5.000000,5.000000,13.00000,...,18.00000,14.000000,9.400000,5.000000,1166.155000,32.305784,219.000000,66.462304,45.156550,333.865366
75%,118130.250000,38385.000000,6.250000,42.000000,7.560027e+08,71683.470000,5957.715000,7.000000,7.000000,20.00000,...,28.00000,18.000000,14.850000,8.000000,1945.962500,36.496663,302.000000,147.392573,71.295797,463.215683
max,155629.000000,50999.000000,8.000000,56.000000,9.999934e+08,179987.280000,15204.633333,11.000000,11.000000,34.00000,...,62.00000,25.000000,29.980000,17.000000,4998.070000,50.000000,404.000000,1779.103254,434.191089,1183.930696

In [107]:
dfc = df[df["customer_id"] == 3392]
dfc

,id,customer_id,month,name,age,ssn,occupation,annual_income,monthly_inhand_salary,num_bank_accounts,...,credit_mix,outstanding_debt,credit_utilization_ratio,credit_history_age,payment_of_min_amount,total_emi_per_month,amount_invested_monthly,payment_behaviour,monthly_balance,credit_score
0,5634,3392,1,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,26.822620,265.0,No,49.574949,21.46538,High_spent_Small_value_payments,312.494089,Good
1,5635,3392,2,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,31.944960,266.0,No,49.574949,21.46538,Low_spent_Large_value_payments,284.629162,Good
2,5636,3392,3,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,28.609352,267.0,No,49.574949,21.46538,Low_spent_Medium_value_payments,331.209863,Good
3,5637,3392,4,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,31.377862,268.0,No,49.574949,21.46538,Low_spent_Small_value_payments,223.451310,Good
4,5638,3392,5,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,24.797347,269.0,No,49.574949,21.46538,High_spent_Medium_value_payments,341.489231,Good
5,5639,3392,6,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,27.262259,270.0,No,49.574949,21.46538,High_spent_Medium_value_payments,340.479212,Good
6,5640,3392,7,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,22.537593,271.0,No,49.574949,21.46538,Low_spent_Small_value_payments,244.565317,Good
7,5641,3392,8,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,23.933795,272.0,No,49.574949,21.46538,High_spent_Medium_value_payments,358.124168,Standard

In [108]:
df.credit_score.unique()

array(['Good', 'Standard', 'Poor'], dtype=object)

In [109]:
df.columns

Index(['id', 'customer_id', 'month', 'name', 'age', 'ssn', 'occupation',
       'annual_income', 'monthly_inhand_salary', 'num_bank_accounts',
       'num_credit_card', 'interest_rate', 'num_of_loan', 'type_of_loan',
       'delay_from_due_date', 'num_of_delayed_payment', 'changed_credit_limit',
       'num_credit_inquiries', 'credit_mix', 'outstanding_debt',
       'credit_utilization_ratio', 'credit_history_age',
       'payment_of_min_amount', 'total_emi_per_month',
       'amount_invested_monthly', 'payment_behaviour', 'monthly_balance',
       'credit_score'],
      dtype='object')

In [110]:
df.drop(columns=["ssn", "name"], inplace = True, axis = 1)

In [111]:
df.drop_duplicates()

,id,customer_id,month,age,occupation,annual_income,monthly_inhand_salary,num_bank_accounts,num_credit_card,interest_rate,...,credit_mix,outstanding_debt,credit_utilization_ratio,credit_history_age,payment_of_min_amount,total_emi_per_month,amount_invested_monthly,payment_behaviour,monthly_balance,credit_score
0,5634,3392,1,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,...,Good,809.98,26.822620,265.0,No,49.574949,21.465380,High_spent_Small_value_payments,312.494089,Good
1,5635,3392,2,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,...,Good,809.98,31.944960,266.0,No,49.574949,21.465380,Low_spent_Large_value_payments,284.629162,Good
2,5636,3392,3,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,...,Good,809.98,28.609352,267.0,No,49.574949,21.465380,Low_spent_Medium_value_payments,331.209863,Good
3,5637,3392,4,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,...,Good,809.98,31.377862,268.0,No,49.574949,21.465380,Low_spent_Small_value_payments,223.451310,Good
4,5638,3392,5,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,...,Good,809.98,24.797347,269.0,No,49.574949,21.465380,High_spent_Medium_value_payments,341.489231,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,155625,37932,4,25.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,...,Good,502.38,34.663572,378.0,No,35.104023,24.028477,High_spent_Large_value_payments,479.866228,Poor
99996,155626,37932,5,25.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,...,Good,502.38,40.565631,379.0,No,35.104023,24.028477,High_spent_Medium_value_payments,496.651610,Poor
99997,155627,37932,6,25.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,...,Good,502.38,41.255522,380.0,No,35.104023,24.028477,High_spent_Large_value_payments,516.809083,Poor
99998,155628,37932,7,25.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,...,Good,502.38,33.638208,381.0,No,35.104023,24.028477,Low_spent_Large_value_payments,319.164979,Standard
99999,155629,37932,8,25.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,...,Good,502.38,34.192463,382.0,No,35.104023,24.028477,High_spent_Medium_value_payments,393.673696,Poor

In [112]:
#df_limit = df.sample(1000)
#sns.pairplot(df_limit, hue ="Credit_Score")

In [113]:
features = df_limit.drop(columns = ["credit_score"])
features = features.select_dtypes(include = "number")
target = df_limit["credit_score"]

In [114]:
target.replace({"Good" : 1, "Standard" : 2, "Poor" : 3})

C:\Users\manht\AppData\Local\Temp\ipykernel_23172\2665379612.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  target.replace({"Good" : 1, "Standard" : 2, "Poor" : 3})

68763    1
16908    2
43407    3
91443    3
11296    1
        ..
51443    2
60127    2
75367    2
23875    2
89019    2
Name: credit_score, Length: 1000, dtype: int64

In [115]:
#your code here
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.20, random_state=0)

X_train

,id,customer_id,month,age,annual_income,monthly_inhand_salary,num_bank_accounts,num_credit_card,interest_rate,num_of_loan,delay_from_due_date,num_of_delayed_payment,changed_credit_limit,num_credit_inquiries,outstanding_debt,credit_utilization_ratio,credit_history_age,total_emi_per_month,amount_invested_monthly,monthly_balance
30059,50721,17131,4,15.0,20616.96,1882.080000,9.0,10.0,23.0,3.0,36.0,24.0,12.97,9.0,2684.13,25.521106,176.0,29.756421,23.965534,384.486044
28531,48429,6124,4,38.0,30813.68,2289.806667,3.0,3.0,8.0,4.0,7.0,10.0,6.93,0.0,1312.20,32.551475,222.0,56.055556,23.378946,389.546165
76902,120984,41995,7,39.0,31530.76,2676.563333,1.0,3.0,1.0,4.0,6.0,10.0,8.54,2.0,702.89,24.214506,303.0,74.253632,45.784528,384.028020
28422,48264,50480,7,31.0,31751.78,2712.981667,7.0,3.0,11.0,0.0,28.0,14.0,0.61,4.0,581.67,24.333195,305.0,0.000000,41.750271,381.719451
30891,51969,5099,4,30.0,9335.19,844.932500,7.0,10.0,26.0,6.0,17.0,20.0,18.18,7.0,1860.20,37.473481,162.0,41.499267,0.000000,254.122496
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78336,123138,20387,1,54.0,166741.48,14131.123333,4.0,5.0,12.0,3.0,14.0,12.0,1.83,0.0,117.12,25.580085,377.0,337.255643,254.696138,867.257272
86093,134771,9622,6,16.0,19886.07,1864.172500,8.0,6.0,5.0,2.0,21.0,13.0,13.65,5.0,1108.32,39.018361,202.0,29.605318,50.358166,344.314110
25210,43448,1645,3,48.0,85840.34,7164.361667,1.0,5.0,1.0,3.0,1.0,4.0,2.32,1.0,270.42,31.382193,282.0,172.055012,64.479230,215.625883
10701,21683,35203,6,29.0,60122.68,5004.223333,2.0,5.0,8.0,0.0,4.0,10.0,11.73,4.0,1200.67,39.877451,190.0,0.000000,56.453300,693.969034
15610,29048,26780,3,40.0,19436.28,1640.690000,5.0,5.0,16.0,5.0,16.0,12.0,17.59,9.0,1819.46,23.821831,185.0,80.270575,25.704651,202.761634

In [116]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=3) # n_neighbors = K

In [117]:
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [118]:
#your code here

pred = knn.predict(X_test)
pred

array(['Standard', 'Standard', 'Poor', 'Good', 'Good', 'Poor', 'Standard',
       'Poor', 'Standard', 'Standard', 'Poor', 'Standard', 'Standard',
       'Standard', 'Good', 'Poor', 'Standard', 'Good', 'Poor', 'Good',
       'Good', 'Standard', 'Poor', 'Good', 'Good', 'Standard', 'Good',
       'Poor', 'Poor', 'Good', 'Poor', 'Standard', 'Standard', 'Good',
       'Standard', 'Standard', 'Standard', 'Standard', 'Standard', 'Good',
       'Poor', 'Standard', 'Standard', 'Standard', 'Standard', 'Standard',
       'Standard', 'Good', 'Good', 'Good', 'Poor', 'Good', 'Standard',
       'Standard', 'Standard', 'Standard', 'Standard', 'Standard', 'Poor',
       'Good', 'Standard', 'Good', 'Standard', 'Standard', 'Standard',
       'Standard', 'Standard', 'Good', 'Standard', 'Poor', 'Poor',
       'Standard', 'Standard', 'Standard', 'Good', 'Standard', 'Good',
       'Standard', 'Poor', 'Standard', 'Poor', 'Standard', 'Standard',
       'Poor', 'Standard', 'Poor', 'Standard', 'Standard', 'Standard',
       'Standard', 'Poor', 'Poor', 'Standard', 'Good', 'Standard', 'Good',
       'Standard', 'Standard', 'Good', 'Standard', 'Standard', 'Poor',
       'Good', 'Good', 'Standard', 'Standard', 'Poor', 'Good', 'Good',
       'Good', 'Standard', 'Good', 'Good', 'Standard', 'Standard', 'Good',
       'Good', 'Poor', 'Standard', 'Standard', 'Standard', 'Standard',
       'Good', 'Poor', 'Poor', 'Standard', 'Poor', 'Poor', 'Good', 'Good',
       'Good', 'Standard', 'Standard', 'Standard', 'Standard', 'Standard',
       'Standard', 'Standard', 'Good', 'Standard', 'Standard', 'Good',
       'Good', 'Good', 'Standard', 'Standard', 'Good', 'Standard', 'Good',
       'Standard', 'Poor', 'Good', 'Good', 'Good', 'Standard', 'Good',
       'Good', 'Good', 'Standard', 'Standard', 'Standard', 'Standard',
       'Poor', 'Good', 'Standard', 'Standard', 'Poor', 'Standard',
       'Standard', 'Standard', 'Standard', 'Good', 'Good', 'Good', 'Poor',
       'Poor', 'Standard', 'Standard', 'Standard', 'Good', 'Standard',
       'Standard', 'Poor', 'Standard', 'Standard', 'Good', 'Standard',
       'Standard', 'Standard', 'Standard', 'Standard', 'Good', 'Good',
       'Standard', 'Standard', 'Standard', 'Poor', 'Standard', 'Poor',
       'Good'], dtype=object)

In [119]:
print(f"The accuracy of the model is {knn.score(X_test, y_test)*100: .2f}%")

The accuracy of the model is  39.50%