In [8]:
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [10]:
url = 'https://raw.githubusercontent.com/alvarofavale/week7_ml/refs/heads/main/notebooks/Ceci/encoded_data.csv'
df = pd.read_csv(url)

# Set display option to show all columns
pd.set_option('display.max_columns', None)

df.head()

,customer_id,month,age,occupation,annual_income,monthly_inhand_salary,num_bank_accounts,num_credit_card,interest_rate,num_of_loan,type_of_loan,delay_from_due_date,num_of_delayed_payment,changed_credit_limit,num_credit_inquiries,credit_mix,outstanding_debt,credit_utilization_ratio,credit_history_age,payment_of_min_amount,total_emi_per_month,amount_invested_monthly,payment_behaviour,monthly_balance,credit_score
0,3392,1,23.0,1.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,269.0,3.0,7.0,11.27,4.0,1,809.98,26.822620,265.0,1,49.574949,21.46538,1,312.494089,0
1,3392,2,23.0,1.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,269.0,3.0,4.0,11.27,4.0,1,809.98,31.944960,266.0,1,49.574949,21.46538,2,284.629162,0
2,3392,3,23.0,1.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,269.0,3.0,7.0,11.27,4.0,1,809.98,28.609352,267.0,1,49.574949,21.46538,3,331.209863,0
3,3392,4,23.0,1.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,269.0,5.0,4.0,6.27,4.0,1,809.98,31.377862,268.0,1,49.574949,21.46538,4,223.451310,0
4,3392,5,23.0,1.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,269.0,6.0,4.0,11.27,4.0,1,809.98,24.797347,269.0,1,49.574949,21.46538,5,341.489231,0